body{
  background-color: black;
  font-size: 16px;
  color:#EBF4FA;
  text-shadow: 3px 3px 8px black, -3px -3px 8px black, 3px -3px 8px black,-3px 3px 8px black;
  text-align: center;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1;
  letter-spacing: 1px;
}

#logo{
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  -webkit-filter: drop-shadow(0px 0px 80px white);
}

.space{
  -webkit-transform-style:preserve-3d;
  -webkit-transform:rotateX(75deg);
}

.earth{
  width:300px;
  height:300px;
  background:-webkit-linear-gradient(bottom right,orange 30%,yellow 50%);
  border-radius:300px;
  position:absolute;
  left:0;right:0;margin:auto;
  top:500px;
  -webkit-transform-style:preserve-3d;
  -webkit-transform:rotateX(-90deg);
  -webkit-box-shadow:0px 0px 10px yellow;
}

.orbit{
  width:500px;
  height:500px;
  border:3px dashed #CCC;
  border-radius:300px;
  position:absolute;
  left:0;right:0;margin:auto;
  top:500px;
  -webkit-transform-style:preserve-3d;
  -webkit-animation:orbit 20s linear infinite;
}

.satellite{
  width:40px;
  height:40px;
  background:-webkit-linear-gradient(bottom right,grey 15%,white 50%);
  border-radius: 40px;
  -webkit-box-shadow:0px 0px 1px white;
  position:absolute;
  margin-top: 55px;
  margin-left: 50px;
  -webkit-transform:rotateX(-90deg);
  z-index:1;
  -webkit-transform-style:preserve-3d;
  -webkit-animation:earth 20s linear infinite;
}
@-webkit-keyframes orbit
{
  0%{-webkit-transform:rotateZ(0deg);}
  100%{-webkit-transform:rotateZ(360deg);}
}
@-webkit-keyframes earth{
  0%{-webkit-transform:rotateX(-90deg) rotateY(0deg) rotateZ(0deg);}
  100%{-webkit-transform:rotateX(-90deg) rotateY(360deg) rotateZ(0deg);}
}
