body{
  background-color: black;
  font-size: 16px;
  color:#EBF4FA;
  text-shadow: 3px 3px 8px black, -3px -3px 8px black, 3px -3px 8px black,-3px 3px 8px black;
  text-align: center;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1;
  letter-spacing: 1px;
}

#logo{
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  -webkit-filter: drop-shadow(0px 0px 100px white);
}

#scene{
  position:absolute;
  left:0;right:0;margin:auto;
  top:500px;
  -webkit-transform-style:preserve-3d;
  -webkit-transform:rotateX(90deg);
}

#earth{
  border-radius:300px;
  position:absolute;
  left:0;right:0;margin:auto;
  top:400px;
  -webkit-transform-style:preserve-3d;
  -webkit-transform:rotateX(-90deg);
  -webkit-animation:earth 5s linear infinite;
}

#orbit1{
  width:250px;
  height:250px;
  border: 1px solid rgba(2555,255,255,0.3);
  opacity: 1;
  border-radius:250px;
  position:absolute;
  left:0;right:0;margin:auto;
  top:400px;
  -webkit-transform-style:preserve-3d;
  -webkit-animation:orbit1 11.7s linear infinite;
}

#orb1{
  width:10px;
  height:10px;
  background-color: white;
  opacity: 1;
  border-radius:5px;
  box-shadow: 0px 0px 10px deepskyblue;
  position:absolute;
  left:0;right:0;margin:auto;
  top:-5px;
  -webkit-transform-style:preserve-3d;
  -webkit-animation:orb1 11.7s linear infinite;
}

@-webkit-keyframes orbit1{
  0%{-webkit-transform:rotateX(90deg) rotateY(0deg) rotateZ(0deg)}
  100%{-webkit-transform:rotateX(90deg) rotateY(360deg) rotateZ(360deg)}
}

@-webkit-keyframes orb1{
  0%{-webkit-transform: rotateZ(0deg) rotateY(0deg)}
  100%{-webkit-transform:rotateZ(-360deg) rotateY(-360deg)}
}